<p>
  Notre radar localise les questions à l'aide de mots-clés générés par une IA en temps réel.
  Plus un mot-clé apparaît grand et central sur le radar,
  plus les questions associées sont nombreuses ou importantes.
</p>

<ol>
  <li>Afficher les infos d'un mot-clé</li>
  <li>Naviguer vers les questions d'un mot-clé</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
