<p>
  Unser Radar ortet Fragen anhand von Stichwörtern, die eine KI in Echtzeit generiert.
  Je größer und zentraler ein Stichwort auf dem Radar erscheint,
  desto zahlreicher oder bedeutender sind die zugehörigen Fragen.
</p>

<ol>
  <li>Infos zu einem Stichwort anzeigen</li>
  <li>Zu den Fragen eines Stichworts navigieren</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
