<h3>{{'comment-page.tag-title' | translate}}</h3>

<mat-dialog-content>
  <button mat-button
          *ngIf="sessionInfo.currentRoom?.tags?.length"
          (click)="tagSelect.open()"
          matTooltip="{{ 'spacy-dialog.tag-button-hint' | translate }}">
    <mat-icon class="btn-icon">sell</mat-icon>
    <label for="tagSelect" *ngIf="!selectedTag"><em>{{'comment-page.tag' | translate}}</em></label>
    <label for="tagSelect" *ngIf="selectedTag">{{selectedTag}}</label>
    <mat-select class="select-list" id="tagSelect" #tagSelect [(ngModel)]="selectedTag">
      <mat-option class="tag-reset" [value]="null"><em>{{'comment-page.tag-reset' | translate}}</em></mat-option>
      <mat-option *ngFor="let tag of sessionInfo.currentRoom.tags" [value]="tag">{{tag}}</mat-option>
    </mat-select>
  </button>
</mat-dialog-content>


<ars-row ars-flex-box class="action-button-container">
  <ars-col>
    <button
      *ngIf="sessionInfo.currentRole > 0"
      mat-flat-button
      class="dialog-button"
      (click)="openAllTags()">
      <mat-icon class="material-icons-filled">sell</mat-icon>
      {{ 'comment-page.tag-open-all' | translate}}
    </button>
  </ars-col>
  <ars-col>
    <app-dialog-action-buttons
      buttonsLabelSection="comment-page"
      confirmButtonLabel="update"
      [spacing]="false"
      [cancelButtonClickAction]="buildCloseDialogActionCallback()"
      [confirmButtonClickAction]="buildSaveActionCallback()"
    ></app-dialog-action-buttons>
  </ars-col>
</ars-row>
