<ars-screen ars-flex-box>
  <mat-drawer-container class="spacyTagCloudContainer" [hasBackdrop]="true">
    <mat-drawer position="end" mode="over" (closed)="cloudComponent.closePanel()" (opened)="cloudComponent.openPanel()">
      <app-cloud-configuration #cloudComponent [parent]="this"></app-cloud-configuration>
    </mat-drawer>
    <mat-drawer-content>
      <h1 *ngIf="brainstormingActive && brainstormingData?.title"
          class="tag-cloud-brainstorming-question mat-display-1">
        {{brainstormingData?.title}}
      </h1>
      <ars-fill ars-flex-box>
        <app-tag-cloud-pop-up [room]="room"></app-tag-cloud-pop-up>
        <app-mat-spinner-overlay *ngIf="isLoading" overlay="true"></app-mat-spinner-overlay>
        <app-word-cloud [keywords]="data"
                        [isRadar]="!brainstormingActive"
                        [parameters]="currentCloudParameters"
                        style="flex-grow: 1"
                        (clicked)="openTags($event)"
                        (entered)="enter($event)"
                        (left)="leave()"></app-word-cloud>
        <app-active-user *ngIf="room" [alwaysShowInHeader]="true" [room]="this.room" [top]="120"></app-active-user>
      </ars-fill>
      <button class="start_introduction"
              (click)="startIntroduction()"
              mat-fab
              mat-icon-button
              matTooltip="{{ 'comment-list.start-introduction-video' | translate }}" [matTooltipPosition]="'above'">
        <mat-icon>question_mark</mat-icon>
      </button>
      <button *ngIf="brainstormingActive && canWriteComment() && !drawer?.opened"
              mat-fab
              mat-icon-button
              [ngClass]="{
                center_screen: isCloudEmpty()
              }"
              class="fab_add_comment"
              (click)="writeComment()"
              matTooltip="{{ 'comment-list.add-idea' | translate }}" [matTooltipPosition]="'above'">
        <mat-icon>add</mat-icon>
        <p class="oldtypo-p" *ngIf="isCloudEmpty()">{{'comment-list.ask-brainstorm-empty' | translate}}</p>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>
</ars-screen>
