app-room-list {
  width: 100%;
  max-width: 800px;
}

.button-container {
  margin-bottom: 3% !important;
}

.new-session {
  height: 60px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--background);
  color: var(--on-background);
}

.add {
  padding-right: 12px;
  padding-left: 10px;
  transform: scale(2);
  color: var(--primary);
}

button:hover {
  outline: 3px solid var(--secondary);
}
