<div data-nosnippet>
  <p tabindex="0">
    Your questions and ratings in »frag.jetzt« are anonymous.
  </p>

  <p tabindex="0">
    Without registration, you can access your rooms only in the browser,
    in which you created or visited the rooms.
    If you delete the browser history, your rooms will also be deleted.
  </p>

  <p tabindex="0">
    By clicking the »Onboarding …« button, you agree to our privacy policy.
    You can view it by clicking the icon above.
  </p>
</div>
