<div data-nosnippet>
  <p tabindex="0">
    Deine Fragen und Bewertungen in »frag.jetzt« sind anonym.
  </p>

  <p tabindex="0">
    Ohne Registrierung kannst du deine Räume nur in dem Browser aufrufen,
    in dem du die Räume erstellt oder besucht hast.
    Löschst du den Browserverlauf, werden auch deine Räume gelöscht.
  </p>

  <p tabindex="0">
    Mit Klick auf den Button »Onboarding …« erklärst du dich mit unserer Daten&shy;schutz&shy;erklärung einverstanden.
    Du kannst sie über das Icon oben einsehen.
  </p>

</div>
