mat-form-field {
  color: var(--on-surface);
}

.mat-flat-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 3px;
  margin: 15px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

input {
  caret-color: var(--on-surface);
  color: var(--on-surface);
}

.textfields {
  padding: .5rem 0;
  align-items: baseline;
}
