<mat-dialog-content>
  <div fxLayout="column" class="textfields">
    <!--forgot password-->
    <p class="oldtypo-p">{{ 'password-reset.forgot-password' | translate }}</p>
  </div>

  <form *ngIf="initProcess" (ngSubmit)="resetPassword(email.value)" fxLayout="column" fxLayoutAlign="space-around"
        fxLayoutGap="10px">
    <mat-form-field class="input-block">
      <input appAccessibilityEscapedInput
             aria-labelledby="password-reset-description"
             matInput type="email" #email [formControl]="usernameFormControl"
             [errorStateMatcher]="matcher" name="email"/>
      <mat-placeholder class="placeholder">{{ 'password-reset.email' | translate }}</mat-placeholder>
      <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
        {{ 'password-reset.email-invalid' | translate }}
      </mat-error>
    </mat-form-field>
    <button (click)="buildCloseDialogActionCallback()" mat-flat-button type="submit"
            aria-labelledby="password-reset-button">
      {{ 'password-reset.reset-password' | translate }}
    </button>
  </form>


  <div fxLayout="column" class="textfields">
    <!--set new password-->
    <p class="oldtypo-p">{{ 'password-reset.set-new-password' | translate }}</p>
  </div>

  <form (ngSubmit)="setNewPassword(email2.value, key.value, password1.value)" fxLayout="column"
        fxLayoutAlign="space-around"
        fxLayoutGap="10px">
    <mat-form-field class="input-block">
      <input aria-labelledby="password-set-description" matInput type="email" #email2
             [formControl]="usernameFormControl2" [errorStateMatcher]="matcher" name="email"/>
      <mat-placeholder class="placeholder">{{ 'password-reset.email' | translate }}</mat-placeholder>
      <mat-error *ngIf="usernameFormControl2.hasError('email') && !usernameFormControl2.hasError('required')">
        {{ 'password-reset.email-invalid' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-block">
      <input appAccessibilityEscapedInput
             matInput type="password" #password1 [formControl]="passwordFormControl" aria-labelledby="new-password1"
             [errorStateMatcher]="matcher"/>
      <mat-placeholder class="placeholder">{{ 'register.password' | translate }}</mat-placeholder>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        {{ 'register.password-required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-block">
      <input appAccessibilityEscapedInput
             matInput type="password" #password2 [formControl]="passwordFormControl2" aria-labelledby="new-password2"
             [errorStateMatcher]="matcher"/>
      <mat-placeholder class="placeholder">{{ 'register.password-verify' | translate }}</mat-placeholder>
      <mat-error *ngIf="passwordFormControl2.hasError('required')">
        {{ 'register.password-required' | translate }}
      </mat-error>
      <mat-error *ngIf="passwordFormControl2.hasError('passwordIsEqual') && !passwordFormControl2.hasError('required')">
        {{ 'register.password-unmatch' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-block">
      <input appAccessibilityEscapedInput
             matInput type="text" #key [formControl]="keyFormControl" aria-labelledby="password-reset-key"
             [errorStateMatcher]="matcher"/>
      <mat-placeholder class="placeholder">{{ 'password-reset.key' | translate }}</mat-placeholder>
      <mat-error *ngIf="keyFormControl.hasError('required')">
        {{ 'password-reset.key-required' | translate }}
      </mat-error>
    </mat-form-field>
    <button mat-flat-button type="submit" aria-labelledby="password-set-button">
      {{ 'password-reset.set-new-password-button' | translate }}
    </button>
  </form>
</mat-dialog-content>

<app-dialog-action-buttons
  buttonsLabelSection="password-reset"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>


<div class="visually-hidden">
  <div id="password-reset-description">{{ 'password-reset.email-description' | translate }}</div>
  <div id="password-reset-button">{{ 'password-reset.a11y-password_reset_button' | translate }}</div>
  <div id="password-set-description">{{ 'password-reset.a11y-password_set_email' | translate }}</div>
  <div id="new-password1">{{ 'password-reset.a11y-new_password1' | translate }}</div>
  <div id="new-password2">{{ 'password-reset.a11y-new_password2' | translate }}</div>
  <div id="password-reset-key">{{ 'password-reset.a11y-password_reset_key' | translate }}</div>
  <div id="password-set-button">{{ 'password-reset.a11y-password_set_button' | translate }}</div>
</div>
