:host {
  .force-wrap {
    flex-shrink: 1;
    @media only screen and (max-width: 800px) {
      > * {
        padding-right: 4px;
        font-size: 12px;
      }
    }
  }

  .align-center-y {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container {
    border-radius: 20px;
    border: thin solid dimgray;
    background-color: var(--surface);
    box-sizing: border-box;
    padding: 5px 20px;
  }

  .timestamp {
    font-weight: normal;
    font-size: 12px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  ::ng-deep {
    .images img {
      max-width: 100% !important;
    }

    .mat-checkbox-frame {
      border-color: var(--on-surface);
    }
  }
}
