<div class="fake-header" *ngIf="this.backUrl">
  <button mat-button
          (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    <span class="oldtypo"
          style="color: var(--red) !important;">{{'comment-page.back-to-question-focus' | translate}}</span>
  </button>
</div>
<div fxLayout="column"
     fxLayoutAlign="center"
     *ngIf="!isLoading"
     (document:keyup)="checkForEscape($event)"
     (document:click)="checkForBackDropClick($event, container.firstChild, this.container.nextElementSibling?.firstChild)">
  <div fxLayout="row"
       #container
       fxLayoutAlign="center">
    <app-comment *ngIf="comment?.body"
                 [comment]="comment"
                 [user]="user"
                 [userRole]="userRole"
                 [parseVote]="votes"
                 [indentationPossible]="true"
                 [showResponses]="isConversationView"
                 [moderator]="isModerationComment"
                 [isFromModerator]="mods.has(comment.creatorId)"
                 [isFromOwner]="room.ownerId === comment.creatorId"
                 [isAnswerView]="true"
                 (sortedAnswers)="applySortAnswers($event)"
    ></app-comment>
  </div>
  <div fxLayout="row"
       *ngIf="room.conversationDepth || !isStudent"
       fxLayoutAlign="center">
    <mat-card class="answer border-answer"
              *ngIf="((userRole > 0 || room.conversationDepth) || answer) && !isConversationView">
      <app-write-comment [isModerator]="userRole > 0"
                         [isCommentAnswer]="true"
                         [placeholder]="'comment-page.your-answer'"
                         [onClose]="onSubmit.bind(this)"
                         [commentReference]="comment.id"
                         [disableCancelButton]="!answer && commentComponent && commentComponent.commentData.currentText.length > 0"
                         [confirmLabel]="'save-answer'"
                         [cancelLabel]="'delete-answer'"
                         [additionalTemplate]="editAnswer"
                         [enabled]="(userRole > 0 || room.conversationDepth !== 0) && (edit || !answer)"
                         [tags]="room.tags"
                         [isQuestionerNameEnabled]="true"
                         [additionalMockOffset]="65">
      </app-write-comment>
    </mat-card>
  </div>
</div>

<ng-template #editAnswer>
  <div *ngIf="(isStudent || !edit) && answer">
    <app-view-comment-data [currentData]="answer"></app-view-comment-data>
    <div fxLayout="row"
         fxLayoutAlign="end">
      <button mat-raised-button
              *ngIf="!isStudent && !edit"
              class="save"
              (click)="onEditClick()">
        <mat-icon>edit</mat-icon>
        {{'comment-page.edit-answer' | translate}}
      </button>
    </div>
  </div>
</ng-template>
