.mat-flat-button {
  color: var(--on-primary);
  background-color: var(--primary);
}

.resend {
  background-color: transparent;
  color: var(--on-dialog);
  outline: var(--secondary) solid 3px;
  margin: 15px 20px 0 20px;

  &:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
  }
}
