@use '@angular/material' as mat;
@import './../../../node_modules/@angular/material/theming';

$purple-primary: mat.define-palette(mat.$purple-palette,500);
$purple-accent: mat.define-palette(mat.$amber-palette, 200); //$mat-purple-gray, A200, A100, A400);

$purple-warn: mat.define-palette(mat.$red-palette, A100);

$purple-theme: mat.define-light-theme($purple-primary, $purple-accent, $purple-warn);

.mat-dialog-container {
  color: var(--on-surface) !important;
}

.mat-dialog-container h3 {
  color: var(--on-surface) !important;
}

.mat-menu-panel {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}

.mat-menu-panel .mat-menu-item {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}
