<app-uiregistration [commentId]="commentRegistrationId">
</app-uiregistration>

<mat-card id="comment-card"
          class="border"
          [style]="{'--i': responseIndex}"
          [style.background-color]="isResponse ? 'var(--dialog)' : 'var(--surface)'"
          [class.highlighted]="comment.highlighted"
          [class.moderator]="moderator"
          [ngClass]="getBorderClass()"
          [@slide]="slideAnimationState"
          (@slide.done)="changeSlideState()">
  <div class="color-tooltip"
       [matTooltip]="'comment-page.border-tooltip-' + getBorderClass() | translate"></div>
  <div class="runningnum-outer">
    <p>
      <mat-icon *ngIf="getCommentIcon() as icon"
                [class]="getCommentIconClass()">
        {{icon}}
      </mat-icon>
      <span *ngFor="let element of getPrettyCommentNumber()">
        {{element}}
      </span>
    </p>
  </div>
  <div fxLayout="column">
    <div fxLayout="row"
         class="comment-actions">
      <div class="date-container">
        <div class="date">
          {{ readableCommentBody }}
        </div>
      </div>
      <button mat-icon-button
              *ngIf="comment.read"
              [disabled]="true"
              (click)="setRead(comment)">
        <mat-icon svgIcon="beamer"
                  class="beamer-icon"
                  matTooltip="{{ 'comment-page.mark-read' | translate }}">
        </mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <ng-container>
        <button mat-icon-button
                *ngIf="(isCreator || isModerator) && isProfanity"
                (click)="changeProfanityShowForModerators(comment)">
          <mat-icon class="not-marked material-icons-outlined"
                    [matTooltip]="filterProfanityForModerators ? ('comment-page.show-comment-with-filter' | translate) :
            ('comment-page.show-comment-without-filter' | translate)">
            {{filterProfanityForModerators ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="(!isStudent || comment.correct === 1) && !moderator"
                [disabled]="isStudent"
                (click)="markCorrect(comment, 1)"
                tabindex="0"
                attr.aria-labelledby="comment_correct{{ comment.id }}">
          <mat-icon [ngClass]="{'correct-icon' : comment.correct === 1,
                              'not-marked' : (comment.correct === 0 || comment.correct === 2)}"
                    [matTooltip]="comment.correct !== 1 ? ('comment-page.mark-correct' | translate)
                                                 : ('comment-page.mark-not-correct' | translate)">check_circle
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="(!isStudent || comment.correct === 2) && !moderator"
                [disabled]="isStudent"
                (click)="markCorrect(comment, 2)"
                tabindex="0"
                attr.aria-labelledby="comment_not_correct{{ comment.id }}">
          <mat-icon [ngClass]="{'wrong-icon' : comment.correct === 2,
                              'not-marked' : (comment.correct === 0 || comment.correct === 1)}"
                    [matTooltip]="comment.correct !== 2 ? ('comment-page.mark-wrong' | translate)
                                                 : ('comment-page.mark-not-wrong' | translate)">cancel
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="!isStudent && comment.favorite"
                [disabled]="isStudent"
                (click)="setFavorite(comment)"
                tabindex="0"
                attr.aria-labelledby="comment_grade{{ comment.id }}">
          <mat-icon class="material-icons-round favorite-icon"
                    [matTooltip]="getTranslationForBonus('mark-not-favorite') | translate">
            grade
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="!moderator"
                (click)="setBookmark(comment)"
                tabindex="0"
                attr.aria-labelledby="comment_grade{{ comment.id }}">
          <mat-icon [ngClass]="{'bookmark-icon' : comment.bookmark, 'not-marked' : !comment.bookmark} "
                    [matTooltip]="!comment.bookmark ? ('comment-page.mark-bookmark' | translate)
                                                          : ('comment-page.mark-not-bookmark' | translate)">
            bookmark
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="roomTags?.length && (isStudent && comment.creatorId === user?.id)"
                (click)="openChangeCommentTagDialog()"
                tabindex="0">
          <mat-icon class="not-marked"
                    [matTooltip]="'comment-page.edit-change-tag' | translate">
            sell
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="(isStudent && comment.creatorId && user && comment.creatorId === user.id) && !comment.favorite"
                (click)="openDeleteCommentDialog()"
                tabindex="0"
                attr.aria-labelledby="comment_delete{{ comment.id }}">
          <mat-icon class="not-marked material-icons-outlined"
                    matTooltip="{{ 'comment-page.delete-question' | translate }}">
            delete
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="(comment.favorite && isStudent && !(comment.creatorId && user && comment.creatorId === user.id))"
                tabindex="0"
                attr.aria-labelledby="comment_grade{{ comment.id }}">
          <mat-icon class="material-icons-round favorite-icon">
            grade
          </mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="(comment.favorite && isStudent && (comment.creatorId && user && comment.creatorId === user.id))"
                (click)="openBonusStarDialog()"
                tabindex="0"
                attr.aria-labelledby="comment_grade{{ comment.id }}">
          <mat-icon class="material-icons-round favorite-icon"
                    [matTooltip]="getTranslationForBonus('mark-not-favorite') | translate">
            grade
          </mat-icon>
        </button>
        <button mat-icon-button
                [matMenuTriggerFor]="actionButtonMenu"
                *ngIf="!isStudent && hasOneAction()">
          <mat-icon
            [matTooltip]="('comment-page.option-menue' | translate)"
            [matTooltipPosition]="'right'"
            class="not-marked">
            more_vert
          </mat-icon>
        </button>
      </ng-container>
    </div>
    <div fxLayout="row">
      <div class="body click"
           (click)="answerComment()"
           role="button"
           style="width:100%;"
           tabindex="0">
        <ars-row #commentBody
                 class="commentBody">
          <ars-row #commentBodyInner>
            <app-view-comment-data class="images"
                                   [currentData]="comment.body"></app-view-comment-data>
          </ars-row>
        </ars-row>
        <span id="comment-{{ comment.id }}"
              class="visually-hidden"
              aria-hidden="true">{{ 'comment-page.comment' | translate: {
          time: (language === 'de' ? (comment.createdAt | date: ' HH:mm ') : (comment.createdAt | date: 'h:mm a')),
          votes: comment.score === 1 ? ('comment-page.a11y-text_textForOneVote' | translate) : comment.score + ('comment-page.a11y-text_textForVotes' | translate),
          comment: readableCommentBody,
          correct: comment.correct === 1 ? ('comment-page.a11y-text_correct' | translate) : "",
          wrong: comment.correct === 2 ? ('comment-page.a11y-text_wrong' | translate) : "",
          bonus: comment.favorite ? ('comment-page.a11y-text_grade' | translate) : "",
          beamer: comment.read ? ('comment-page.a11y-text_read' | translate) : ""
        }
          }}</span>
      </div>
      <div
        [joyrideStep]="'voting'"
        [stepPosition]="'left'"
        appJoyrideTemplate
        fxLayout="column"
        fxLayoutAlign="center"
        *ngIf="isStudent && usesJoyride"
        [ngClass]="{ '1': 'voteUp', '-1': 'voteDown', '0': 'reset'}[currentVote]">
        <ng-container [ngTemplateOutlet]="voting"></ng-container>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center"
        *ngIf="isStudent && !usesJoyride"
        [ngClass]="{ '1': 'voteUp', '-1': 'voteDown', '0': 'reset'}[currentVote]">
        <ng-container [ngTemplateOutlet]="voting"></ng-container>
      </div>
      <div *ngIf="!isStudent"
           fxLayout="column"
           fxLayoutAlign="center">
        <span class="scoreCreator"
              matTooltip="{{
        ('comment-page.upvote' | translate) + ' ' + comment.upvotes + ' ' +
        ('comment-page.downvote' | translate) + ' ' + comment.downvotes
        }}" [matTooltipPosition]="'right'">{{comment.score}}</span>
      </div>
    </div>
    <ars-row ars-flex-box
             #commentExpander>
      <ars-fill>
        <button mat-button
                style="width:100%;"
                (click)="toggleExpand($event)"><span class="commentExpanderButton">
            {{ isExpanded ? ('comment-page.show-less' | translate) : ('comment-page.show-more' | translate) }}
          </span></button>
      </ars-fill>
      <ars-col [width]="16">
      </ars-col>
    </ars-row>
    <div style="margin-top: 10px"
         fxLayout="row"
         fxLayoutAlign="start center">
      <div fxLayoutAlign="center center"
           matTooltip="{{ 'comment-page.tag-to-filter' | translate }}"
           (click)="this.clickedOnTag.emit(comment.tag)"
           *ngIf="comment.tag && comment.tag !== ''"
           class="comment-tags">
        <mat-icon>sell</mat-icon>
        <span style="padding-left: 5px">
          {{comment.tag}}
        </span>
      </div>
      <ng-template #userNumberContent>
        <mat-icon class="user-icon material-icons-outlined">person_pin_circle</mat-icon>
        <span matBadge="{{commentsWrittenByUser}}"
              matBadgeSize="small"
              matBadgeOverlap="false">
        </span>
      </ng-template>
      <div class="user-number joyrideActive"
           *ngIf="usesJoyride"
           [joyrideStep]="'commentUserNumber'"
           [stepPosition]="'right'"
           appJoyrideTemplate
           fxLayoutAlign="center center"
           matTooltip="{{ 'comment-page.user-number' | translate }}"
           (click)="this.clickedUserNumber.emit(comment.creatorId)">
        <ng-container [ngTemplateOutlet]="userNumberContent"></ng-container>
      </div>
      <div class="user-number"
           *ngIf="!usesJoyride && commentsWrittenByUser > 1"
           fxLayoutAlign="center center"
           matTooltip="{{ 'comment-page.user-number' | translate }}"
           (click)="this.clickedUserNumber.emit(comment.creatorId)">
        <ng-container [ngTemplateOutlet]="userNumberContent"></ng-container>
      </div>
      <div fxLayoutAlign="center center"
           matTooltip="{{ 'comment-page.keywords-per-question' | translate }}"
           [mat-menu-trigger-for]="keywordsMenu"
           *ngIf="comment.keywordsFromQuestioner?.length"
           class="comment-keywords">
        <mat-icon
          class="keyword-icon">tag
        </mat-icon>
        <span matBadge="{{comment.keywordsFromQuestioner.length}}"
              matBadgeSize="small"
              matBadgeOverlap="false">
        </span>
        <mat-menu #keywordsMenu>
          <mat-list dense class="keywords-list">
            <mat-list-item
              *ngFor="let keyword of sortKeywords(comment.keywordsFromQuestioner); let odd = odd; let even = even"
              [class.keywords-alternate]="odd"
              [class.keywords-even]="even">
              <span (click)="this.clickedOnKeyword.emit(keyword.text)"
                    class="keyword-span">{{keyword.text}}</span>
            </mat-list-item>
          </mat-list>
        </mat-menu>
      </div>

      <span class="fill-remaining-space"></span>
      <div fxLayoutAlign="center center"
           matTooltip="{{ 'comment-page.questioner-name' | translate }}"
           *ngIf="comment.questionerName && (deviceInfo.isCurrentlyDesktop || comment.questionerName.length < 21)"
           class="questioner-name">
        <mat-icon class="material-icons-outlined">account_circle</mat-icon>
        <span style="padding-left: 5px">
          {{comment.questionerName}}
        </span>
      </div>
      <div fxLayoutAlign="center center"
           matTooltip="{{ 'comment-page.questioner-name' | translate }} ({{comment.questionerName}})"
           *ngIf="comment.questionerName && deviceInfo.isCurrentlyMobile && comment.questionerName.length > 20"
           class="questioner-name">
        <mat-icon class="material-icons-outlined">account_circle</mat-icon>
        <span style="padding-left: 5px">
          {{comment.questionerName.substring(0, 20)}}…
        </span>
      </div>
      <button mat-icon-button
              class="moderate-button"
              *ngIf="(isCreator || isModerator)"
              (click)="setAck(comment)"
              tabindex="0"
              attr.aria-labelledby="comment_moderation{{ comment.id }}">
        <mat-icon class="gavel material-icons-round"
                  [matTooltip]="!comment.ack ? ('comment-page.acknowledge' | translate)
                                                        : ('comment-page.reject' | translate)"
                  [matTooltipPosition]="'right'">gavel
        </mat-icon>
      </button>
    </div>
    <div style="margin-top: 10px"
         fxLayout="row"
         fxLayoutAlign="start center">
      <button mat-button
              *ngIf="comment.commentDepth < room.conversationDepth || room.conversationDepth === -1 || isCreator || isModerator "
              class="replyButton"
              (click)="respondToComment()">
        <mat-icon class="material-icons-outlined">reply</mat-icon>
        {{'comment-page.reply-comment-button' | translate}}
      </button>

      <button mat-icon-button
              *ngIf="!isAnswerView && !showResponses && comment.totalAnswerCount > 0 && indentationPossible">
        <mat-icon class="not-marked material-icons-round"
                  matBadge="{{comment.totalAnswerCount}}"
                  matBadgeColor="secondary"
                  matBadgeSize="small"
                  (click)="showConversation()"
                  [matTooltip]="('comment-page.show-conversation-tooltip' | translate)">forum
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="!isAnswerView && showResponses && responses.length >0">
        <mat-icon class="wrong-icon material-icons-round"
                  (click)="hideConversation()"
                  [matTooltip]="('comment-page.hide-conversation-tooltip' | translate)">forum
        </mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="!notificationService.isNotificationBlocked"
              (click)="toggleNotifications()">
        <mat-icon
          class="not-marked material-icons-filled"
          matTooltip="{{ notificationService.hasCommentSubscription(comment?.id) ? ('notification.notification-off' | translate) : ('notification.notification-on' | translate) }}">
          {{notificationService.hasCommentSubscription(comment?.id) ? 'notifications' : 'notifications_off'}}
        </mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button
              *ngIf="responses.length>2 && isConversationView"
              id="sort-button"
              [matMenuTriggerFor]="sortAnswersMenu"
              aria-labelledby="swap_vert_answers"
              matTooltip="{{ 'comment-list.sort-answers' | translate }}">
        <mat-icon class="searchBarIcon">swap_vert</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<app-comment-response-view
  *ngIf="showResponses && viewInfo && !isMock"
  [owningComment]="comment"
  [viewInfo]="viewInfo">
</app-comment-response-view>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div
    id="comment_correct{{ comment.id }}">{{comment.correct !== 1 ? ('comment-page.a11y-comment_not_marked_correct' | translate)
    : ('comment-page.a11y-comment_marked_correct' | translate) }}
  </div>
  <div
    id="comment_not_correct{{ comment.id }}">{{comment.correct !== 2 ? ('comment-page.a11y-comment_not_marked_wrong' | translate)
    : ('comment-page.a11y-comment_marked_wrong' | translate) }}
  </div>
  <div id="comment_grade{{ comment.id }}">{{ !comment.favorite ? ('comment-page.a11y-comment_grade' | translate)
    : ('comment-page.a11y-comment_not_grade' | translate) }}
  </div>
  <div id="comment_delete{{ comment.id }}">{{'comment-page.a11y-comment_delete' | translate}}</div>
  <div id="comment_moderation{{ comment.id }}">{{'comment-page.a11y-comment_moderation' | translate}}</div>
  <div *ngIf="isStudent"
       id="comment_vote_up{{ comment.id }}">{{'comment-page.a11y-comment_vote_up' | translate}}</div>
  <div *ngIf="isStudent"
       id="comment_vote_down{{ comment.id }}">{{'comment-page.a11y-comment_vote_down' | translate}}</div>
</div>

<ng-template #voting>
  <button mat-icon-button
          (click)="voteUp(comment)"
          *ngIf="!disabled && user && comment.creatorId !== user.id"
          matTooltip="{{ 'comment-page.vote-up' | translate }}"
          [matTooltipPosition]="'right'"
          tabindex="0"
          [disabled]="!user || comment.creatorId === user.id"
          attr.aria-labelledby="comment_vote_up{{ comment.id }}">
    <mat-icon class="voting-icon material-icons-outlined"
              [ngClass]="{'upVoted' : hasVoted === 1}">thumb_up
    </mat-icon>
  </button>
  <span class="score"
        matTooltip="{{
        ('comment-page.upvote' | translate) + ' ' + comment.upvotes + ' ' +
        ('comment-page.downvote' | translate) + ' ' + comment.downvotes
        }}"
        [matTooltipPosition]="'right'">{{comment.score}}</span>
  <button mat-icon-button
          (click)="voteDown(comment)"
          *ngIf="!disabled && user && comment.creatorId !== user.id"
          matTooltip="{{ 'comment-page.vote-down' | translate }}"
          [matTooltipPosition]="'right'"
          tabindex="0"
          attr.aria-labelledby="comment_vote_down{{ comment.id }}">
    <mat-icon class="voting-icon material-icons-outlined"
              [ngClass]="{'downVoted' : hasVoted === -1}">thumb_down
    </mat-icon>
  </button>
</ng-template>

<mat-menu #sortAnswersMenu="matMenu" xPosition="before">
  <button mat-menu-item
          (click)="sortAnswers('Time')">
    <mat-icon [ngClass]="(sortMethod==='Time')?'answered-icon':''">
      update
    </mat-icon>
    <span [ngClass]="(sortMethod==='Time')?'answered-icon':''">
      {{ 'comment-list.sort-answers-time' | translate }}</span>
  </button>

  <button mat-menu-item
          (click)="sortAnswers('BestScore')">
    <mat-icon class="material-icons-outlined"
              [ngClass]="(sortMethod==='BestScore')?'correct-icon':''">
      thumb_up
    </mat-icon>
    <span [ngClass]="(sortMethod==='BestScore')?'correct-icon':''">
        {{ 'comment-list.sort-vote-asc' | translate }}
      </span>
  </button>

  <button mat-menu-item
          (click)="sortAnswers('WorstScore')">
    <mat-icon class="material-icons-outlined"
              [ngClass]="(sortMethod==='WorstScore')?'wrong-icon':''">
      thumb_down
    </mat-icon>
    <span [ngClass]="(sortMethod==='WorstScore')?'wrong-icon':''">
        {{ 'comment-list.sort-vote-desc' | translate }}
      </span>
  </button>

</mat-menu>

<mat-menu #actionButtonMenu="matMenu">
  <div fxLayout="column" class="action-menu-content">
    <button mat-icon-button
            *ngIf="canInteractWithAction('star')"
            (click)="setFavorite(comment)"
            tabindex="0"
            attr.aria-labelledby="comment_grade{{ comment.id }}">
      <mat-icon class="material-icons-round not-marked"
                [matTooltip]="getTranslationForBonus('mark-favorite') | translate"
                [matTooltipPosition]="'right'">
        grade
      </mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="canInteractWithAction('change-tag')"
            (click)="openChangeCommentTagDialog()"
            tabindex="0">
      <mat-icon class="not-marked"
                [matTooltip]="'comment-page.edit-change-tag' | translate"
                [matTooltipPosition]="'right'">
        sell
      </mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="canInteractWithAction('delete')"
            (click)="openDeleteCommentDialog()"
            tabindex="0"
            attr.aria-labelledby="comment_delete{{ comment.id }}">
      <mat-icon class="not-marked material-icons-outlined"
                [matTooltip]="'comment-page.delete-question' | translate"
                [matTooltipPosition]="'right'">
        delete
      </mat-icon>
    </button>
  </div>
</mat-menu>
