<p>
  Hier findest du eine Übersicht aller Räume, die du erstellt oder besucht hast.
</p>

<ol>
  <li>Einen Raum aufsuchen</li>
  <li>Einen Raum buchen</li>
  <li>Infos und Optionen zu einem Raum anzeigen</li>
  <li>Nachrichten des Entwicklerteams anzeigen</li>
  <li>Vollansicht und Textgröße einstellen</li>
  <li>Konto löschen (registrierter User)</li>
  <li>Aus »frag.jetzt« abmelden</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
