@use '@angular/material' as mat;
@import './../../../node_modules/@angular/material/theming';

$dark-primary: mat.define-palette(mat.$blue-gray-palette, 800);
$dark-accent: mat.define-palette(mat.$orange-palette, 200);
$dark-warn: mat.define-palette(mat.$red-palette, A200);

$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

a {
  text-decoration: underline;
  color: var(--on-surface);
}

.mat-dialog-container {
  color: var(--on-surface) !important;
}

.mat-dialog-container h3 {
  color: var(--on-surface) !important;
}

.mat-menu-panel {
  background-color: var(--primary-variant) !important;
  color: var(--on-primary-variant) !important;
}

.mat-menu-panel .mat-menu-item {
  background-color: var(--dialog) !important;
  color: var(--on-dialog) !important;
}

.mat-menu-panel .mat-menu-item:hover {
  background-color: gray !important;
  color: white !important;
}

.mat-radio-outer-circle {
  border-color: var(--on-dialog) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--on-dialog) !important;
}
