.qr-container {
  height: 100%;
  background-color: white;
}

.exitButton {
  transform: scale(2.5);
  background-color: white;
  color: red;
  position: absolute;
  top: 3em;
  right: 3em;

  &:hover {
    outline: red solid 2px;
    border-radius: 15px;
  }
}

h2 {
  color: black;
}
