<p>
  You can enter as many ideas as you like;
  they are displayed in real time.
  If only one word is to be entered, an AI puts the word into its basic form in order to recognize multiple entries.
  The more people have the same idea and the higher it is rated, the bigger and more central it appears.
</p>

<ol>
  <li>Enter an idea</li>
  <li>Evaluate an idea</li>
  <li>Change the look of the word cloud (moderator)</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
