<p>
  Tu peux entrer autant d'idées que tu le souhaites ;
  elles sont affichées en temps réel.
  Si un seul mot doit être écrit, l'IA lui donne sa forme de base afin de détecter les multiples mentions.
  Plus il y a de personnes qui ont la même idée et plus elle est bien notée, plus elle apparaît grande et centrale.
</p>

<ol>
  <li>Entrer une idée</li>
  <li>Evaluer une idée</li>
  <li>Modifier l'apparence du nuage de mots (modérateurs)</li>
</ol>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          [src]="sanitizer.trust('https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0')"
          tabindex="0"
          title="Placeholder video"
  ></iframe>
</div>
